@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

body {
    background-color: var(--off-white);

    font-family: "DM Sans";
    font-weight: fonts.$regular-fw;
    color: var(--black);
}

.wrapper {
    display: grid;
    align-items: center;
    justify-items: center;

    height: 100vh;

    padding: util.rem(80) util.rem(160);
}

.card {
    display:grid;

    border-radius: util.rem(8);

    padding: util.rem(24);

    &:nth-of-type(1), 
    &:nth-of-type(2), 
    &:nth-of-type(3) {
        padding: util.rem(32);
    }

    &:nth-of-type(2) {
        padding: util.rem(35) util.rem(32);
    }
}

.contents {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    grid-gap: util.rem(32);

    max-width: util.rem(1440);
}

.card1 {
    grid-area: 1 / 1 / 3 / 2;

    background-color: var(--beige);

    max-width: util.rem(256);
    max-height: util.rem(415);

    &__header {
        font-size: fonts.$large;
        line-height: fonts.$large-lh;
        letter-spacing: fonts.$large-ls;
        font-weight: fonts.$medium-fw;

        margin: util.rem(50) 0 0 0;

        &__span1 {
            color: var(--purple-dark);
            font-style: italic;
        }
    }

    &__button {
        display: grid;
        grid-template: auto util.rem(0) / repeat(2, auto);
        justify-content: center;
        align-content: center;

        max-height: util.rem(60);

        background-color: var(--yellow);

        border-radius: util.rem(32);

        color: var(--purple-dark);
        font-weight: fonts.$bold-fw;
        font-size: fonts.$small2;

        margin: 0 0 util.rem(50) 0;
        padding: util.rem(17) util.rem(26);

        pointer-events: none;
        user-select: none;

        &__star {
            align-self: center;

            margin-left: util.rem(8);

            width: util.rem(18);
            height: util.rem(18);
        }

        &__arrow {
            justify-self: center;
            position: relative;
            top: util.rem(12);
            left: util.rem(20);

            width: util.rem(35);
            height: util.rem(36);
        }
    }
}

.card2 {
    grid-area: 1 / 2 / 2 / 4;
    justify-items: center;

    max-width: util.rem(544);

    background-color: var(--purple-dark);

    color: var(--white);

    &__header {
        font-size: fonts.$very-large;
        line-height: fonts.$very-large-lh;
        letter-spacing: fonts.$very-large-ls;
        font-weight: fonts.$medium-fw;
        text-align: center;

        padding: util.rem(29) 0 util.rem(26) 0;

        &__span1 {
            color: var(--yellow);
        }

        &__span2 {
            font-style: italic;
        }
    }

    &__stars-container {
        pointer-events: none;
        user-select: none;
    }

    &__star {
        display: inline-block; 

        width: util.rem(26);
        height: util.rem(26);

        margin: 0 util.rem(5);
    }

    &__span1 {
        font-size: fonts.$small;
        line-height: fonts.$small-lh;
        letter-spacing: fonts.$small-ls;
        font-weight: fonts.$regular-fw;

        margin: util.rem(6) 0 util.rem(26) 0;
    }
}

.card3 {
    grid-area: 1 / 4 / 3 / 5;

    background-color: var(--purple-light);
}

.card4 {
    grid-area: 2 / 1 / 4 / 2;

    background-color: var(--yellow);

    margin-top: util.rem(210);
}

.card5 {
    background-color: var(--white);
}

.card6 {
    background-color: var(--yellow);
}

.card7 {
    background-color: var(--white);
}

.card8 {
    grid-area: 3 / 3 / 4 / 5;

    background-color: var(--purple-dark);

    color: var(--white);
}