@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

body {
    background-color: var(--off-white);

    font-family: "DM Sans";
    font-weight: fonts.$regular-fw;
    color: var(--black);
}

.wrapper {
    display: grid;
    align-items: center;
    justify-items: center;

    height: 100vh;
}

.card {
    display:grid;

    border-radius: util.rem(8);

    padding: util.rem(24);

    &:nth-of-type(1), 
    &:nth-of-type(2), 
    &:nth-of-type(3) {
        padding: util.rem(32);
    }

    &:nth-of-type(2) {
        padding: util.rem(35) util.rem(32);
    }
}

.contents {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    grid-gap: util.rem(32);

    max-width: util.rem(1440);

    padding: util.rem(32);
}

.card1 {
    grid-area: 1 / 1 / 3 / 2;

    background-color: var(--beige);

    max-width: util.rem(256);
    max-height: util.rem(415);

    &__header {
        font-size: fonts.$large;
        line-height: fonts.$large-lh;
        letter-spacing: fonts.$large-ls;
        font-weight: fonts.$medium-fw;

        margin: util.rem(50) 0 0 0;

        &__span1 {
            color: var(--purple-dark);
            font-style: italic;
        }
    }

    &__button {
        display: grid;
        grid-template: auto util.rem(0) / repeat(2, auto);
        justify-content: center;
        align-content: center;

        max-height: util.rem(60);

        background-color: var(--yellow);

        border-radius: util.rem(32);

        color: var(--purple-dark);
        font-weight: fonts.$bold-fw;
        font-size: fonts.$small2;

        margin: 0 0 util.rem(50) 0;
        padding: util.rem(17) util.rem(26);

        pointer-events: none;
        user-select: none;

        &__star {
            align-self: center;

            margin-left: util.rem(8);

            width: util.rem(18);
            height: util.rem(18);
        }

        &__arrow {
            justify-self: center;
            position: relative;
            top: util.rem(12);
            left: util.rem(20);

            width: util.rem(35);
            height: util.rem(36);
        }
    }
}

.card2 {
    grid-area: 1 / 2 / 2 / 4;
    justify-items: center;

    max-width: util.rem(544);

    background-color: var(--purple-dark);

    color: var(--white);

    &__header {
        font-size: fonts.$very-large;
        line-height: fonts.$very-large-lh;
        letter-spacing: fonts.$very-large-ls;
        font-weight: fonts.$medium-fw;
        text-align: center;

        padding: util.rem(29) 0 util.rem(26) 0;

        &__span1 {
            color: var(--yellow);
        }

        &__span2 {
            font-style: italic;
        }
    }

    &__stars-container {
        pointer-events: none;
        user-select: none;
    }

    &__star {
        display: inline-block; 

        width: util.rem(26);
        height: util.rem(26);

        margin: 0 util.rem(5);
    }

    &__span1 {
        font-size: fonts.$small;
        line-height: fonts.$small-lh;
        letter-spacing: fonts.$small-ls;
        font-weight: fonts.$regular-fw;

        margin: util.rem(6) 0 util.rem(26) 0;
    }
}

.card3 {
    grid-area: 1 / 4 / 3 / 5;

    position: relative;
    left: 0;

    max-width: util.rem(256);

    overflow: hidden;

    background-color: var(--purple-light);

    &__header {
        max-width: util.rem(192);

        font-size: fonts.$medium;
        line-height: fonts.$medium-lh;
        letter-spacing: fonts.$large-ls;
        font-weight: fonts.$medium-fw;

        margin-top: util.rem(18);
    }

    &__graph {
        display: grid;

        min-width: max-content;

        background-color: var(--white);

        border-radius: util.rem(16);

        margin: util.rem(26) 0;
        padding: util.rem(20) util.rem(22);

        &__label {
            font-size: fonts.$small2;
            line-height: fonts.$graph-lh;
            letter-spacing: fonts.$graph-ls;
            font-weight: fonts.$medium-fw;

            border-bottom: util.rem(1) solid var(--gray-light);

            padding: 0 0 util.rem(10) 0;
        }

        &__days {
            display: grid;
            grid-template: auto / repeat(7, auto);
            align-items: center;
            justify-items: center;

            font-size: fonts.$very-small;
            color: var(--gray-dark);

            margin: util.rem(17) 0 0 0;

            &-day {
                margin: 0 0 0 util.rem(18);

                transition: font-weight 0.1s ease-in-out;

                &:nth-of-type(1) {
                    font-weight: fonts.$semibold-fw;
                    color: var(--red-dark);
                    
                    background-color: var(--red-light);
    
                    padding: util.rem(3.5) util.rem(9);
                    margin: 0 0;
    
                    border-radius: util.rem(16);
                }
            }
        }

        &__active {
            grid-area: 1 / 6 / 2 / 8;

            min-width: max-content;

            font-size: fonts.$very-small;
            font-weight: fonts.$semibold-fw;
            color: var(--green-dark);

            background-color: var(--green-light);

            padding: util.rem(3.5) util.rem(9);
            margin: 0 0 0 util.rem(6);

            border-radius: util.rem(16);

            &-cont {
                display: grid;
                grid-template: max-content / repeat(8, util.rem(22));
                column-gap: util.rem(22);

                margin: util.rem(14) 0 util.rem(4) 0;
            }
        }

        &__bars {
            display: grid;
            grid-template: auto / repeat(8, util.rem(22));
            column-gap: util.rem(20);

            margin: 0 0 util.rem(11) 0;

            &__bar {
                align-self: end;

                background-color: var(--purple-dark);

                border-radius: util.rem(16);

                &:nth-of-type(1) {
                    height: util.rem(40);
                }

                &:nth-of-type(2) {
                    height: util.rem(55);
                }

                &:nth-of-type(3) {
                    height: util.rem(100);
                }

                &:nth-of-type(4) {
                    height: util.rem(80);
                }

                &:nth-of-type(5) {
                    height: util.rem(65);
                }

                &:nth-of-type(6) {
                    height: util.rem(75);
                }

                &:nth-of-type(7) {
                    height: util.rem(120);
                }

                &:nth-of-type(8) {
                    height: util.rem(65);
                }
            }
        }

        &__times {
            display: grid;
            grid-template: auto / repeat(8, util.rem(22));
            column-gap: util.rem(20);
            justify-items: center;

            &-time {   
                font-size: fonts.$very-small;
                color: var(--gray-dark);
            }
        }
    }

    &__paragraph {
        max-width: util.rem(192);

        margin-bottom: util.rem(18);

        font-size: fonts.$small;
        line-height: fonts.$small-lh;
        letter-spacing: fonts.$small-ls;
        font-weight: fonts.$regular-fw;
    }
}

.card4 {
    grid-area: 2 / 1 / 4 / 2;
    align-self: end;

    margin-top: util.rem(91);

    width: util.rem(256);
    height: util.rem(434);

    background-color: var(--yellow);

    font-size: fonts.$large;
    line-height: fonts.$large-lh;
    letter-spacing: fonts.$large-ls;
    font-weight: fonts.$medium-fw;

    &__header {
        max-width: 6ch;
        margin-bottom: util.rem(60);
    }

    &__arrow {
        height: util.rem(28);
        width: util.rem(28);
    }

    &__chat-cont {
        position: relative;

        width: max-content;
        height: max-content;

        background-color: var(--white);

        border-radius: util.rem(16);

        padding: util.rem(16);

        font-size: fonts.$very-small2;
        line-height: fonts.$graph-lh;
        letter-spacing: fonts.$small-ls;
        font-weight: fonts.$regular-fw;

        &__arrow-cont {
            position: absolute;
            top: util.rem(45);
            left: util.rem(132);

            width: max-content;

            background-color: var(--white);

            padding: util.rem(18);

            border-radius: 100%;

            &__inner {
                width: max-content;

                background-color: var(--yellow);

                padding: util.rem(12);

                border-radius: 100%;
            }
        }

        &__message {
            display: grid;
            grid-template: auto / repeat(2, max-content);
            grid-column-gap: util.rem(6);
            
            border-radius: util.rem(24);
        }

        &__message1 {
            margin-bottom: util.rem(24);

            &__text {
                background-color: var(--violet);
            
                text-align: right;

                width: util.rem(135);
            
                border-radius: util.rem(16);
    
                padding: util.rem(8) util.rem(16);
            }

            &__img {
                width: util.rem(34);
                height: util.rem(34);
            }
        }

        &__message2 {
            &__text {
                background-color: var(--off-yellow);

                width: util.rem(135);
            
                border-radius: util.rem(16);
    
                padding: util.rem(8) util.rem(16);
            }

            &__img-cont {
                height: max-content;

                background-color: var(--purple-light);

                padding: util.rem(8);

                border-radius: 100%;

                &__img {
                    width: util.rem(18);
                    height: util.rem(18);
                }
            }
        }
    }
}

.card5 {
    grid-template: max-content / auto;

    background-color: var(--white);

    max-width: util.rem(256);
    max-height: util.rem(247);

    overflow-x: hidden;

    &__header {
        max-width: 8ch;

        margin-top: util.rem(22);

        font-size: fonts.$medium;
        line-height: fonts.$medium-lh;
        letter-spacing: fonts.$large-ls;
        font-weight: fonts.$medium-fw;
    }

    &__socials-container {
        display: grid;
        grid-template: max-content / repeat(2, max-content);
        grid-column-gap: util.rem(14);

        width: util.rem(500);

        position: relative;
        left: 0;

        transition: left 0.5s ease-in-out;

        &__1, &__2 {
            display: grid;
            grid-template: repeat(2, max-content) / repeat(2, max-content);
            grid-column-gap: util.rem(8);
            align-content: center;
            align-items: center;

            width: max-content;

            background-color: var(--white);

            padding: util.rem(12) util.rem(24) util.rem(12) util.rem(12);

            border-radius: util.rem(32);

            filter: drop-shadow(util.rem(-10) util.rem(10) util.rem(25) rgba(0, 0, 0, 0.05));

            pointer-events: none;

            &__name {
                font-size: fonts.$small3;
                line-height: fonts.$large-lh;
                letter-spacing: fonts.$socials-ls;
                font-weight: fonts.$medium-fw;
            }

            &__followers {
                font-size: fonts.$very-small2;
                line-height: fonts.$auto-lh;
                letter-spacing: fonts.$followers-ls;
                font-weight: fonts.$regular-fw;
                color: var(--gray-dark);
            }

            &__img-cont {
                grid-area: 1 / 1 / 3 / 2;
                width: max-content;

                background-color: var(--yellow);

                padding: util.rem(9);

                border-radius: 100%;

                &__img {
                    width: util.rem(22);
                    height: util.rem(22);
                }
            }
        }
    }
}

.card6 {
    display: grid;
    grid-template: repeat(2, max-content) / auto;

    max-width: util.rem(256);
    max-height: util.rem(247);

    overflow-y: hidden;

    background-color: var(--yellow);

    &__header {
        font-size: fonts.$medium;
        line-height: fonts.$medium-lh;
        letter-spacing: fonts.$large-ls;
        font-weight: fonts.$medium-fw;
    }

    &__calendar-container {
        margin-top: util.rem(20);

        &__top-bar {
            display: grid;
            grid-template: auto / repeat(2, auto);

            color: var(--white);
            font-weight: fonts.$regular-fw;
            letter-spacing: fonts.$graph-ls;

            background-color: var(--purple-dark);

            padding: util.rem(8) util.rem(12);

            border-radius: util.rem(8) util.rem(8) 0 0;

            &__week {
                justify-self: center;
                align-self: center;

                font-size: fonts.$very-small;
            }
        }

        &__checks {
            display: grid;
            grid-template: repeat(4, max-content) / repeat(4, 1fr);
            grid-row-gap: util.rem(18);
            justify-items: center;

            padding: util.rem(18) 0;

            background-color: var(--white);

            border-radius: 0 0 util.rem(8) util.rem(8);

            &__check-img {
                height: util.rem(20);
                width: util.rem(20);
            }

            &__square-img {
                height: util.rem(23);
                width: util.rem(23);
            }
        }
    }
}

.card7 {
    display: grid;
    grid-template: repeat(3, auto) / auto;

    height: util.rem(247);

    background-color: var(--white);

    &__header {
        grid-area: 1 / 1 / 2 / 2;

        font-size: fonts.$very-large;
        line-height: fonts.$very-large-lh;
        letter-spacing: fonts.$very-large-ls;
        font-weight: fonts.$medium-fw;
    }

    &__span1 {
        grid-area: 2 / 1 / 3 / 2;

        margin-top: util.rem(8);
        margin-bottom: util.rem(30);

        font-size: fonts.$small;
        line-height: fonts.$small-lh;
        letter-spacing: fonts.$small-ls;
        font-weight: fonts.$regular-fw;
    }

    &__images-cont {
        display: grid;
        grid-template: auto / repeat(3, auto);

        grid-area: 3 / 1 / 4 / 2;

        &__img {
            min-width: fit-content;

            &:nth-of-type(2),
            &:nth-of-type(3) {
                margin-left: util.rem(-40);
            }
        }
    }
}

.card8 {
    display: grid;
    grid-template: auto / max-content auto;
    grid-column-gap: util.rem(43);
    align-content: center;
    align-items: center;
    grid-area: 3 / 3 / 4 / 5;

    max-width: util.rem(544);

    position: relative;

    background-color: var(--purple-dark);

    color: var(--white);

    &__arrow {
        height: util.rem(23);
        width: util.rem(23);
    }

    &__graph-container {
        display: grid;
        grid-template: repeat(3, auto) / repeat(2, auto);
        background-color: var(--white);

        border-radius: util.rem(16);

        padding: util.rem(28) util.rem(26);

        margin-top: util.rem(-10);

        &__span1 {
            grid-area: 1 / 1 / 2 / 3;
            font-size: fonts.$very-small;
            line-height: fonts.$auto-lh;
            letter-spacing: fonts.$followers-ls;
            font-weight: fonts.$regular-fw;
            color: var(--gray-dark);

            margin-bottom: util.rem(4);
        }

        &__followers {
            grid-area: 2 / 1 / 3 / 2;

            font-size: fonts.$medium2;
            line-height: fonts.$large-lh;
            letter-spacing: fonts.$socials-ls;
            font-weight: fonts.$medium-fw;
            color: var(--black);

            transition: --num 1s;
            counter-reset: num var(--num);

              &::after {
                content: counter(num);
              }

            &-percent {
                display: grid;
                justify-content: center;
                align-content: center;
                justify-self: end;
                grid-area: 2 / 2 / 3 / 3;

                max-width: max-content;

                font-size: fonts.$very-small2;
                line-height: fonts.$graph-lh;
                letter-spacing: fonts.$graph-ls;
                font-weight: fonts.$medium-fw;
                color: var(--green-dark);
    
                background-color: var(--green-light);
    
                padding: util.rem(2) util.rem(6);
                margin: 0 0 0 util.rem(6);
    
                border-radius: util.rem(16);
            }

            &-small-cont {
                display: grid;
                grid-template: repeat(2, auto) / repeat(3, auto);
                grid-column-gap: util.rem(8);
                align-content: center;
                align-items: center;

                position: absolute;
                top: util.rem(155);
                left: util.rem(65);

                width: max-content;
                width: util.rem(187.05);

                border-radius: util.rem(32);

                padding: util.rem(12);

                background-color: var(--white);

                &__img-cont {
                    grid-area: 1 / 1 / 3 / 2;
                    max-width: max-content;

                    background-color: var(--yellow);

                    padding: util.rem(10);

                    border-radius: 100%;
                }

                &__span1 {
                    font-size: fonts.$very-small2;
                    line-height: fonts.$auto-lh;
                    letter-spacing: fonts.$followers-ls;
                    font-weight: fonts.$regular-fw;
                    color: var(--gray-dark);
                }

                &__span2 {
                    grid-area: 2 / 2 / 3 / 3;

                    width: util.rem(53.1666);

                    font-size: fonts.$small2;
                    line-height: fonts.$large-lh;
                    letter-spacing: fonts.$socials-ls;
                    font-weight: fonts.$medium-fw;
                    color: var(--black);

                    transition: --num2 1s;
                    counter-reset: num2 var(--num2);
        
                      &::after {
                        content: counter(num2);
                      }
                }

                &__percent {
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    grid-area: 2 / 3 / 3 / 4;
    
                    min-width: max-content;
    
                    font-size: fonts.$very-small2;
                    line-height: fonts.$graph-lh;
                    letter-spacing: fonts.$graph-ls;
                    font-weight: fonts.$medium-fw;
                    color: var(--green-dark);
        
                    background-color: var(--green-light);
        
                    padding: util.rem(2) util.rem(6);
                    margin: 0 0 0 util.rem(6);
        
                    border-radius: util.rem(16);
                }
            }
        }

        &__bars-container {
            display: grid;
            grid-template: auto / repeat(5, util.rem(18));
            grid-area: 3 / 1 / 4 / 3;
            grid-column-gap: util.rem(14);
            justify-content: center;

            margin-top: util.rem(14);

            &__bar {
                align-self: end;
                background-color: var(--purple-dark);
                border-radius: 1rem;

                &:nth-of-type(1) {
                    height: util.rem(40);
                }

                &:nth-of-type(2) {
                    height: util.rem(55);
                }

                &:nth-of-type(3) {
                    height: util.rem(60);
                }

                &:nth-of-type(4) {
                    height: util.rem(70);
                }

                &:nth-of-type(5) {
                    height: util.rem(70);
                }
            }
        }
    }

    &__header {
        grid-area: 1 / 2 / 2 / 3;

        min-width: 257px;

        font-size: fonts.$large;
        line-height: fonts.$large-lh;
        font-weight: fonts.$medium-fw;
    }
}

@property --num {
    syntax: '<integer>';
    initial-value: 3495;
    inherits: false;
}

@property --num2 {
    syntax: '<integer>';
    initial-value: 40697;
    inherits: false;
}