@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

.card3__graph__days-day:hover {
    cursor: pointer;

    font-weight: fonts.$bold-fw;
}

.card8__graph-container__followers:hover {
    --num: 20620;
    
    cursor: text;
}

.card8__graph-container__followers-small-cont__span2:hover {
    --num2: 89533;
        
    cursor: text;
}