@use "../util/functions" as util;
@use "../global/variables" as var;

// Font sizes
$very-large: util.rem(62);
$large: util.rem(40);
$medium: util.rem(32);
$medium2: util.rem(28);
$small: util.rem(18);
$small2: util.rem(19.2);
$small3: util.rem(16);
$very-small: util.rem(14);
$very-small2: util.rem(12);

// Line heights
$very-large-lh: 93.5%;
$large-lh: 90%;
$medium-lh: 87.5%;
$small-lh: 111%;
$graph-lh: 150%;
$auto-lh: auto;

// Letter spacings
$very-large-ls: util.rem(-3);
$large-ls: util.rem(-2);
$small-ls: util.rem(0);
$graph-ls: -5%;
$socials-ls: -6%;
$followers-ls: -3%;

// Font weights
$regular-fw: 400;
$medium-fw: 500;
$semibold-fw: 600;
$bold-fw: 700;