// Colors
:root {
    --white: rgb(255, 255, 255);
    --off-white: rgb(246, 245, 246);
    --off-white2: rgb(252, 250, 252);
    --gray-light: rgb(233, 234, 243);
    --gray-dark: rgb(143, 143, 143);
    --black: rgb(0, 0, 0);
    --purple-light: rgb(219, 209, 252);
    --purple-dark: rgb(117, 81, 220);
    --beige: rgb(249, 238, 226);
    --yellow: rgb(255, 204, 106);
    --red-dark: rgb(220, 81, 114);
    --red-light: rgb(255, 229, 231);
    --green-dark: rgb(14, 128, 59);
    --green-light: rgb(218, 255, 233);
    --violet: rgb(255, 237, 237);
    --off-yellow: rgb(252, 235, 209);
}