// Colors
:root {
    --white: rgb(255, 255, 255);
    --off-white: rgb(246, 245, 246);
    --black: rgb(0, 0, 0);
    --purple-light: rgb(219, 209, 252);
    --purple-dark: rgb(117, 81, 220);
    --beige: rgb(249, 238, 226);
    --yellow: rgb(255, 204, 106);
}